apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
  namespace: micro-prod
spec:
  replicas: 1
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
        - name: frontend
          # image: ahmed3013/front_image:3.0
          image: mdmokhtar/gig-router-frontend:cb264c7c941b58b40d49decddbc08b3455615265
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 80
---
apiVersion: v1
kind: Service
metadata:
  name: frontend
  namespace: micro-prod
spec:
  selector:
    app: frontend
  ports:
    - port: 80
      targetPort: 80

